<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HLN_645_050537.Properties.Settings.NLH_645_050537ConnectionString"
            connectionString="Data Source=CABANONS00006V;Initial Catalog=NLH-645-050537;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>